header {
    background-color: lightblue;
    font-size: 10px;
    font-family: "Times New Roman", serif;
}

ul{
 text-align: center;
  list-style-position: inside;
}

footer{ 
    background-color: lightblue;
    font-size: 18px;
    font-family: "Times New Roman", serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
